body{
   font-family: 'Roboto', sans-serif;
   background-color:#FFFFFF
}
header{
background-color:#FFFFFF
}
.nav-item{
    letter-spacing:.2em;
    font-size:15px;
    text-transform:uppercase;
}
.dropdown-item{
    letter-spacing:.2em;
    font-size:15px;
    text-transform:uppercase;
}
.my-footer{
background-color:#C0C0C0
}
.my_row_class{
padding-top:15px;
}
.my_row_class .mx_auto{
color:#000;
font-size:12px;
}
.my_image_padding{
padding:5px;
}
.card-body h4{
  font-size:14px;
  text-transform:uppercase;
  letter-spacing:.2em;
}
card-image{
width=50px;
height=50px;
}


            /***product page***/
.my_prod_row_class{
  padding-top:20px;

}
.my_prod_row_class .mx_auto{
  color:#000;
  font-size:12px;
  text-decoration:none;
}

.my_prod_title{
   font-size:16px;
   text-transform:uppercase;
   letter-spacing:.2em;
   padding-top:15px;
   padding-bottom:10px;
}
    /*** cart page ***/
.my_custom_table{
   min-width:400px;
   font-size:14px;
}
.my_custom_thead{
   font-weight:normal;
   text-transform:uppercase;
   letter-spacing:.2em;
   background-color:#f8f8fa!important;
}
.custom_a{
   text-decoration:none;
}
.custom_icon{
   text-decoration:none;
   color:#868e96!important;
}
.my_custom_button{
  margin-top:5px;
}

